##附加属性
#parse("common/edit/append-fields-simple.vm")

#if($!{editType} == "view")
<tr>
    <td>创建者：</td>
    <td>$!{model.creator}</td>
    <td>创建时间：</td>
    <td>$utils.dateFormatDateTime($!{model.created})</td>
</tr>
<tr>
    <td>更新者：</td>
    <td>$!{model.modifier}</td>
    <td>更新时间：</td>
    <td>$utils.dateFormatDateTime($!{model.modified})</td>
</tr>
#end