</tbody>
</table>
</form>
##页面底部
<div class="textC m10" style="text-align:center;">
    <a href="$!{contextPath}$!{objectIdentifier.url}" class="btn btn-primary btn-large icon-circle-arrow-left"
       id="back">返回列表</a>
    #if ($!{editType} == "add" || $!{editType} == "edit")
        <a href="javascript:void(0);" onclick="JARVIS.MVC.CURD.save();"
           class="btn btn-primary btn-large icon-save">保存</a>
    #end
</div>
##scripts
<script src="$!{staticRes}/plugin/jquery/validate/jquery.metadata.js?v=$!{v}"></script>
<script src="$!{staticRes}/plugin/jquery/validate/jquery.validate.min.js?v=$!{v}"></script>
<script src="$!{staticRes}/plugin/jquery/validate/messages_cn.js?v=$!{v}"></script>
<script src="$!{localStaticRes}/js/jarvis/jarvis.mvc.url.js?v=$!{v}"></script>
<script src="$!{localStaticRes}/js/jarvis/jarvis.mvc.curd.js?v=$!{v}"></script>
<script src="$!{localStaticRes}/js/jarvis/jarvis.form.js?v=$!{v}"></script>