<form name="$!{objectIdentifier.code}EditForm" action="$!{contextPath}$!{objectIdentifier.url}/save.json" method="POST"
      data-type="json">
    #if ($!{editType} == "edit")
        <input type="hidden" id="id" name="id" value="$!{model.id}"/>
    #end
    <table width="500px" border="0" cellpadding="3" cellspacing="3"
           class="table table-striped table-bordered table-hover">
        <tbody role="alert" aria-live="polite" aria-relevant="all">