#parse("/layout/layout-head.vm")
<div class="col-md-2 col-md-offset-1 sidebar">
    <ul class="nav nav-sidebar">
        <li class="active"><a href="#">个人资料 <span class="sr-only">(current)</span></a></li>
        <li><a href="#">我的粉丝</a></li>
        <li><a href="javascript:void(0);" onclick="$!{js_ns}.blog.article.add();">发表博文</a></li>
        <li><a href="#">博文分类</a></li>
    </ul>
</div>
<div class="col-md-8 main">
    $!{screen_content}
</div>
#parse("/layout/layout-bottom.vm")