<link href="$!{staticRes}/chosen/chosen.min.css" rel="stylesheet">
<form id="$!{formName}" method="post" action="$!{saveAddress}">
    <input type="hidden" id="id" name="id" value="$!{model.id}"/>
    <div class="form-group" style="margin-top:10px;">
        <label for="articleTitle">标题:</label>
        #if($!{editType} == "edit" || $!{editType} == "add")
            <input type="input" class="form-control" id="articleTitle" name="title"
                   placeholder="标题" #if($!{editType} == "edit") value="$!{model.title}" #end/>
        #else
            $!{model.title}
        #end
    </div>
    <div class="form-group">
        <label for="articleType">分类:</label>
        #if($!{editType} == "edit" || $!{editType} == "add")
        <select id="articleType" name="typeId" class="chosen-select-no-results">
            #foreach($articleType in $articleTypes)
                <option value="$!{articleType.id}">$!{articleType.name}</option>
            #end
        #else
            $!{model.typeName}
        #end
    </select>
    </div>
    <div style="margin-top:20px;">
        #if($!{editType} == "edit" || $!{editType} == "add")
            <textarea id="articleEditor" name="content" style="width:700px;height:300px;">
                #if($!{editType} == "edit") $!{model.content} #end
	</textarea>
        #else
            $!{model.content}
        #end
        <br/>
        #if($!{editType} == "edit" || $!{editType} == "add")
            <button type="button" class="btn btn-primary" style="margin-top:10px;" onclick="save($('#$!{formName}'));">
                提交
            </button>
        #end
        <button type="button" class="btn btn-primary" style="margin-top:10px;"
                onclick="window.location.href='$!{indexAddress}';">返回空间首页
        </button>
    </div>
</form>

<script src="$!{localStaticRes}/js/article.js?v=$!{v}"></script>
<script charset="utf-8" src="$!{staticRes}/kindeditor/4.1.10/kindeditor.js"></script>
<script charset="utf-8" src="$!{staticRes}/kindeditor/4.1.10/lang/zh_CN.js"></script>

<script>
    KindEditor.options.filterMode = true;//关闭过滤模式，保留所有标签
    var articleEditor;

    $(document).ready(function () {
        KindEditor.ready(function (K) {
            articleEditor = K.create("#articleEditor", {
                uploadJson: "$!{contextPath}/article/uploadImage",
                allowUpload: true
            });
        });
    });

    var save = function (formObj) {
        blog.article.save(formObj, articleEditor);
    }
</script>