<form action="$!{contextPath}/" method="post" id="$!{formName}">
        #parse("common/pagination/param.vm")<!-- 公用分页参数-->
    <input type="hidden" id="articleTypeId" name="typeId"/>
    #foreach($rowModel in $!{model.result})
        <div>
            <h3>$!{rowModel.title}</h3>
            <p>
                分类：$!{rowModel.typeName}
                &nbsp;&nbsp;
                (<a href="javascript:void(0);" onclick="blog.article.edit('$!{rowModel.id}');">编辑</a>
                | <a href="javascript:void(0);" onclick="blog.article.del('$!{rowModel.id}');">删除</a>)
            </p>
            <p>$!{rowModel.content}</p>
            <br/>
            创建日期:$dateUtils.dateFormatDateTime($!{rowModel.createDate})
            | 阅读($!{rowModel.readCount}) | 评论($!{rowModel.commentCount})
            | 赞($!{rowModel.praiseCount}) | 收藏($!{rowModel.collectCount})
            <a href="javascript:void(0);" onclick="blog.article.read('$!{rowModel.id}');"> 阅读全文</a>
            <hr/>
        </div><!-- /.blog-post -->
    #end
</form>

#parse("common/pagination/toolbar.vm") <!-- 公用分页工具条-->
<script src="$!{localStaticRes}/js/article.js?v=$!{v}"></script>