##查询条件
<div class="row-fluid">
    <table class="table table-bordered table-striped formLayout m0" style="margin-bottom:0px;">
        <tr>
            <td class="textR">编码:</td>
            <td>
                <input type="text" id="s_code" name="s_code" placeholder="请输入编码"/>
            </td>
            <td class="textR">名称:</td>
            <td>
                <input type="text" id="s_name" name="s_name" placeholder="请输入名称"/>
            </td>
        </tr>
        <tr>
            <td class="textR">状态:</td>
            <td colspan="3">
                <select id="s_status" name="s_status" style="width:25%;">
                    <option value="undefined">--请选择--</option>
                    #foreach($statusOption in $!{statusOptions})
                        <option value="$!{statusOption.value}">$!{statusOption.name}</option>
                    #end
                </select>
            </td>
        </tr>
    </table>
</div>
#parse("common/index/head.vm")

<th>ID</th>
<th>名称</th>
<th>编码</th>
<th>状态</th>
<th>更新时间</th>
<th>更新者</th>
#parse("common/index/bottom.vm")


##导入js
<script src="$!{localStaticRes}/js/auth/dept.js?v=$!{v}"></script>