<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <title>$!{appName}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="www.walkerljl.org">
    <meta name="keywords" content="www.walkerljl.org,walkerljl,jarvis,lijunlin,$!{appName}">
    <meta name="author" content="www.walkerljl.org">
    <meta name="robots" content="index,follow">
    <meta name="application-name" content="www.walkerljl.org">

    <!-- Site CSS -->
    <link href="$!{staticRes}/bootstrap/3.3.4/css/bootstrap.min.css?v=$!{v}" rel="stylesheet">
    <link href="$!{staticRes}/font-awesome/4.2.0/css/font-awesome.min.css?v=$!{v}" rel="stylesheet">
    <link href="$!{staticRes}/www/assets/css/site.min.css?v=$!{v}" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="$!{staticRes}/html5shiv/3.7.2/html5shiv.min.js?v=$!{v}"></script>
    <script src="$!{staticRes}/respond.js/1.4.2/respond.min.js?v=$!{v}"></script>
    <![endif]-->

    <!-- Favicons -->

    <script>
        var _hmt = _hmt || [];
    </script>

    <meta name="generator" content="www.walkerljl.org"/>
    <link rel="alternate" type="application/rss+xml" title="$!{appName}" href="wwww.walkerljl.org"/>
    <script src="$!{staticRes}/jquery/1.11.2/jquery.min.js?v=$!{v}"></script>
    <script src="$!{localStaticRes}/js/jarvis.js?v=$!{v}"></script>
    <script src="$!{localStaticRes}/js/jarvis.controller.js?v=$!{v}"></script>
    <script src="$!{localStaticRes}/js/jarvis.form.js?v=$!{v}"></script>
</head>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="javascript:void(0);"
               onclick="window.location.href='$!{contextPath}/';">$!{appName}</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                #foreach($articleType in $articleTypes)
                    <li #if($!{curArticleTypeId} == $!{articleType.id}) class="active" #end>
                        <a href="javascript:void(0);"
                           onclick="clickArticleType($!{articleType.id});">$!{articleType.name}
                            #if($!{curArticleTypeId} == $!{articleType.id})
                                <span class="sr-only">(current)</span>
                            #end
                        </a>
                    </li>
                #end
                <li>
                    <a href="javascript:void(0);" onclick="clickArticleType($!{articleType.id});">
                        关于
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
            </ul>
            <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                    <input type="text" id="searchTextInput" class="form-control" placeholder="搜索">
                </div>
                <button type="button" class="btn btn-default" onclick="search();">搜索</button>
            </form>
            <ul class="nav navbar-nav navbar-right">
                #if($!{isLogin})
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                           aria-expanded="false">
                            $!{currentUser.userName}，欢迎您<span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#">私信</a></li>
                            <li><a href="javascript:void(0);" onclick="window.location.href='$!{contextPath}/article'">个人空间</a>
                            </li>
                            <li><a href="#">收藏夹</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#">个人资料</a></li>
                            <li><a href="javascript:void(0);"
                                   onclick="window.location.href='$!{contextPath}/logout'">退出</a></li>
                        </ul>
                    </li>
                #else
                    <li><a href="javascript:void(0);" onclick="window.location.href='$!{contextPath}/login';">登录</a>
                    </li>
                #end
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>

<!-- content -->
<div class="container-fluid">
    <div class="row-fluid" style="margin-top:20px;">