</div>
</div>

<!-- footer -->
#parse("common/footer.vm")
<input type="hidden" id="contextPath" name="contextPath" value="$!{contextPath}"/>
<input type="hidden" id="currentUrl" name="currentUrl" value="$!{currentUrl}"/>
<input type="hidden" id="objectIdentifer" name="objectIdentifer" value="$!{objectIdentifer}"/>
<input type="hidden" id="appName" name="appName" value="$!{appName}"/>
<input type="hidden" id="ssoLoginAddress" name="ssoLoginAddress" value="$!{ssoLoginAddress}"/>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="$!{staticRes}/bootstrap/3.3.4/js/bootstrap.min.js?v=$!{v}"></script>
<script src="$!{staticRes}/unveil/1.3.0/jquery.unveil.min.js?v=$!{v}"></script>
<script src="$!{staticRes}/scrollup/2.4.0/jquery.scrollUp.min.js?v=$!{v}"></script>
<script src="$!{staticRes}/toc/0.3.2/toc.min.js?v=$!{v}"></script>
<script src="$!{staticRes}/jquery.matchHeight/0.5.2/jquery.matchHeight-min.js?v=$!{v}"></script>
<script src="$!{staticRes}/www/assets/js/site.min.js?v=$!{v}"></script>
</body>
</html>
<script>
    var clickArticleType = function (articleTypeId) {
        $("#articleTypeId").val(articleTypeId);
        $("#currentPage").val(1);
        $("#" + $("#formName").val()).submit();
    };

    var search = function () {
        $("#searchText").val($("#searchTextInput").val());
        $("#currentPage").val(1);
        $("#" + $("#formName").val()).submit();
    };
</script>